<!DOCTYPE html>
<html lang="en">
<head>
  <title>DynamoDB Client Web GUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="lib/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="lib/css/ui-grid.min.css" rel="stylesheet">
  <link href="lib/css/angular-json-tree.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
</head>

<body ng-app="dynamodb-web-gui" class="container" ng-controller="tables">
  <header class="navbar navbar-default navbar-fixed-top">
    <a class="navbar-brand pull-left">DynamoDB Client Web GUI</a>
    <div class='btn-toolbar pull-right'>
      <div class='btn-group'>
        <a href="http://github.com/simplymequeeny" class='btn btn-primary'>simplymequeeny</a>
      </div>
    </div>
  </header>

  <section class="container">
    <div class="row">
      <div class="input-group-sm form-group-sm">
        <div class="pull-right">
            <span ng-if="isLocal" class="label label-danger">
              DynamoDB Local
            </span>

            <span ng-if="!isLocal" class="label label-danger">
              AWS DynamoDB
            </span>
        </div>

        <form name="myForm">
          <label for="repeatSelect"> Table: </label>
          <select class="form-control small" name="repeatSelect" id="repeatSelect"
                  ng-model="selectedTableItem" ng-change="selectedTable()">
            <option value="">---Please select---</option>
            <option ng-repeat="name in names" value="{{name}}">{{name}}</option>
          </select>

          <a ng-if="!isLocal && tab('items') && selectedTableItem"
             class="pull-right btn btn-success btn-fetch btn-sm"
             ng-click="fetchItems()" style="margin-top: 5px;">
            <strong>FETCH DATA</strong>
          </a>
        </form>
      </div>

      <div ng-if="selectedTableItem" class="col-lg-12 bs-component">
        <hr>
        <ul class="nav nav-pills">
          <li ng-class="{active:tab('items')}" ng-if="names.length > 0"
              ng-click="selectedTab('items')">
            <a href="">Items</a>
          </li>
          <li ng-class="{active:tab('details')}" ng-if="names.length > 0"
              ng-click="selectedTab('details')">
            <a href="">Details</a>
          </li>
        </ul>

        <div class="panel-body" ng-if="tab('details')">
          <table class="table table-bordered table-striped">
            <tr ng-repeat="(key, data) in table">
              <td>{{key}}</td>
              <td>{{data| json}}</td>
            </tr>
          </table>
        </div>

        <div class="panel-body" ng-if="tab('items')">
          <div id="grid1" ui-grid="gridOptions"
               ui-grid-selection ui-grid-exporter ui-grid-importer
               ng-if="showGrid" class="data-grid"></div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/ng-template" class="modal-dialog" id="modal-popup.html">
    <div class="modal-header">
      <ul class="breadcrumb">
        <li>TABLE: {{table.tableName}}</li>
        <li ng-repeat="keySchema in table.keySchema">
          {{keySchema.keyType}}: {{keySchema.attributeName}}
        </li>
      </ul>
    </div>
    <div class="modal-body">
      <json-tree object="row.entity" root-name="'Item'"></json-tree>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script src="lib/js/angular.js"></script>
  <script src="lib/js/angular-touch.js"></script>
  <script src="lib/js/angular-animate.js"></script>
  <script src="lib/js/csv.js"></script>
  <script src="lib/js/ui-bootstrap-tpls-2.5.0.js"></script>
  <script src="lib/js/ui-grid.min.js"></script>
  <script src="lib/js/angular-json-tree.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>