body { 
    padding-top: 70px; 
}
.container {
    width: 100% !important
}
.data-grid {
    width: 100%;
    height: 500px;
    color: black;
}
.ui-grid-footer-info {
    color: #00dba3;
    font-weight: bold;
}
.modal-dialog {
    width: 80%;
}
.table {
    word-wrap: break-word;
}
.breadcrumb {
    color: #00dba3;
    font-weight: bold;
    font-style: italic;
}
json-tree .key {
    color: #00dba3;
}